/* Object Oriented LESS Classes
--------------------------------------------------------------------------------------------------------- */
/* Basics
--------------------------------------------------------------------------------------------------------- */
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.dpb {
  display: block;
}
.dpib {
  display: inline-block;
  float: none;
}
.dpi {
  display: inline;
}
.dpn {
  display: none;
}
/* Font
--------------------------------------------------------------------------------------------------------- */
.fs50 {
  font-size: 8px;
  line-height: 9px;
}
.fs60 {
  font-size: 9.6px;
  line-height: 10.8px;
}
.fs70 {
  font-size: 11.2px;
  line-height: 12.6px;
}
.fs80 {
  font-size: 12.8px;
  line-height: 14.4px;
}
.fs90 {
  font-size: 14.4px;
  line-height: 16.2px;
}
.fs100 {
  font-size: 16px;
  line-height: 18px;
}
.fs110 {
  font-size: 17.6px;
  line-height: 19.8px;
}
.fs120 {
  font-size: 19.2px;
  line-height: 21.6px;
}
.fs130 {
  font-size: 20.8px;
  line-height: 23.4px;
}
.fs140 {
  font-size: 22.4px;
  line-height: 25.2px;
}
.fs150 {
  font-size: 24px;
  line-height: 27px;
}
.fs160 {
  font-size: 25.6px;
  line-height: 28.8px;
}
.fs170 {
  font-size: 27.2px;
  line-height: 30.6px;
}
.fs180 {
  font-size: 28.8px;
  line-height: 32.4px;
}
.fs190 {
  font-size: 30.4px;
  line-height: 34.2px;
}
.fs200 {
  font-size: 32px;
  line-height: 36px;
}
/* Positioning
--------------------------------------------------------------------------------------------------------- */
.t0 {
  top: 0;
}
.t5 {
  top: 5px;
}
.t10 {
  top: 10px;
}
.t15 {
  top: 15px;
}
.t20 {
  top: 20px;
}
.r0 {
  right: 0;
}
.r5 {
  right: 5px;
}
.r10 {
  right: 10px;
}
.r15 {
  right: 15px;
}
.r20 {
  right: 20px;
}
.b0 {
  bottom: 0;
}
.b5 {
  bottom: 5px;
}
.b10 {
  bottom: 10px;
}
.b15 {
  bottom: 15px;
}
.b20 {
  bottom: 20px;
}
.l0 {
  left: 0;
}
.l5 {
  left: 5px;
}
.l10 {
  left: 10px;
}
.l15 {
  left: 15px;
}
.l20 {
  left: 20px;
}
/* Spacing
--------------------------------------------------------------------------------------------------------- */
.m0 {
  margin: 0px;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.m25 {
  margin: 25px;
}
.m30 {
  margin: 30px;
}
.m40 {
  margin: 40px;
}
.m50 {
  margin: 50px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}
.p50 {
  padding: 50px;
}
.pt5 {
  padding-top: 5px;
}
.pt0 {
  padding-top: 0px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
/* Sizes
--------------------------------------------------------------------------------------------------------- */
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.33%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
.wauto {
  width: auto;
}
.mw10 {
  max-width: 10%;
}
.mw20 {
  max-width: 20%;
}
.mw30 {
  max-width: 30%;
}
.mw40 {
  max-width: 40%;
}
.mw50 {
  max-width: 50%;
}
.mw60 {
  max-width: 60%;
}
.mw70 {
  max-width: 70%;
}
.mw80 {
  max-width: 80%;
}
.mw90 {
  max-width: 90%;
}
.mw100 {
  max-width: 100%;
}
.mw100px {
  max-width: 100px;
}
.mw110px {
  max-width: 110px;
}
.mw120px {
  max-width: 120px;
}
.mw130px {
  max-width: 130px;
}
.mw140px {
  max-width: 140px;
}
.mw150px {
  max-width: 150px;
}
.h10 {
  height: 10%;
}
.h20 {
  height: 20%;
}
.h25 {
  height: 25%;
}
.h30 {
  height: 30%;
}
.h40 {
  height: 40%;
}
.h50 {
  height: 50%;
}
.h60 {
  height: 60%;
}
.h70 {
  height: 70%;
}
.h80 {
  height: 80%;
}
.h90 {
  height: 90%;
}
.h100 {
  height: 100%;
}
.vh10 {
  min-height: 10vh;
}
.vh20 {
  min-height: 20vh;
}
.vh25 {
  min-height: 25vh;
}
.vh30 {
  min-height: 30vh;
}
.vh40 {
  min-height: 40vh;
}
.vh48 {
  min-height: 48vh;
}
.vh49 {
  min-height: 49vh;
}
.vh50 {
  min-height: 50vh;
}
.vh60 {
  min-height: 60vh;
}
.vh70 {
  min-height: 70vh;
}
.vh80 {
  min-height: 80vh;
}
.vh90 {
  min-height: 90vh;
}
.vh100 {
  min-height: 100vh;
}
.w10px {
  width: 10px;
}
.w20px {
  width: 20px;
}
.w30px {
  width: 30px;
}
.w40px {
  width: 40px;
}
.w50px {
  width: 50px;
}
.w60px {
  width: 60px;
}
.w70px {
  width: 70px;
}
.w80px {
  width: 80px;
}
.w90px {
  width: 90px;
}
.w100px {
  width: 100px;
}
.w110px {
  width: 110px;
}
.w120px {
  width: 120px;
}
.w130px {
  width: 130px;
}
.w140px {
  width: 140px;
}
.w150px {
  width: 150px;
}
.w160px {
  width: 160px;
}
.w170px {
  width: 170px;
}
.w180px {
  width: 180px;
}
.w190px {
  width: 190px;
}
.w200px {
  width: 200px;
}
.w250px {
  width: 250px;
}
.w300px {
  width: 300px;
}
.w350px {
  width: 350px;
}
.w400px {
  width: 400px;
}
.w450px {
  width: 450px;
}
.w500px {
  width: 500px;
}
@media (min-width: 0) and (max-width: 650px) {
  /* Basics
--------------------------------------------------------------------------------------------------------- */
  .mobile-pa {
    position: absolute;
  }
  .mobile-pr {
    position: relative;
  }
  .mobile-left {
    float: left;
  }
  .mobile-right {
    float: right;
  }
  .mobile-tac {
    text-align: center;
  }
  .mobile-tal {
    text-align: left;
  }
  .mobile-tar {
    text-align: right;
  }
  .mobile-dpb {
    display: block;
  }
  .mobile-dpib {
    display: inline-block;
    float: none;
  }
  .mobile-dpi {
    display: inline;
  }
  .mobile-dpn {
    display: none;
  }
  /* Font
--------------------------------------------------------------------------------------------------------- */
  .mobile-fs50 {
    font-size: 8px;
    line-height: 9px;
  }
  .mobile-fs60 {
    font-size: 9.6px;
    line-height: 10.8px;
  }
  .mobile-fs70 {
    font-size: 11.2px;
    line-height: 12.6px;
  }
  .mobile-fs80 {
    font-size: 12.8px;
    line-height: 14.4px;
  }
  .mobile-fs90 {
    font-size: 14.4px;
    line-height: 16.2px;
  }
  .mobile-fs100 {
    font-size: 16px;
    line-height: 18px;
  }
  .mobile-fs110 {
    font-size: 17.6px;
    line-height: 19.8px;
  }
  .mobile-fs120 {
    font-size: 19.2px;
    line-height: 21.6px;
  }
  .mobile-fs130 {
    font-size: 20.8px;
    line-height: 23.4px;
  }
  .mobile-fs140 {
    font-size: 22.4px;
    line-height: 25.2px;
  }
  .mobile-fs150 {
    font-size: 24px;
    line-height: 27px;
  }
  .mobile-fs160 {
    font-size: 25.6px;
    line-height: 28.8px;
  }
  .mobile-fs170 {
    font-size: 27.2px;
    line-height: 30.6px;
  }
  .mobile-fs180 {
    font-size: 28.8px;
    line-height: 32.4px;
  }
  .mobile-fs190 {
    font-size: 30.4px;
    line-height: 34.2px;
  }
  .mobile-fs200 {
    font-size: 32px;
    line-height: 36px;
  }
  /* Positioning
--------------------------------------------------------------------------------------------------------- */
  .mobile-t0 {
    top: 0;
  }
  .mobile-t5 {
    top: 5px;
  }
  .mobile-t10 {
    top: 10px;
  }
  .mobile-t15 {
    top: 15px;
  }
  .mobile-t20 {
    top: 20px;
  }
  .mobile-r0 {
    right: 0;
  }
  .mobile-r5 {
    right: 5px;
  }
  .mobile-r10 {
    right: 10px;
  }
  .mobile-r15 {
    right: 15px;
  }
  .mobile-r20 {
    right: 20px;
  }
  .mobile-b0 {
    bottom: 0;
  }
  .mobile-b5 {
    bottom: 5px;
  }
  .mobile-b10 {
    bottom: 10px;
  }
  .mobile-b15 {
    bottom: 15px;
  }
  .mobile-b20 {
    bottom: 20px;
  }
  .mobile-l0 {
    left: 0;
  }
  .mobile-l5 {
    left: 5px;
  }
  .mobile-l10 {
    left: 10px;
  }
  .mobile-l15 {
    left: 15px;
  }
  .mobile-l20 {
    left: 20px;
  }
  /* Spacing
--------------------------------------------------------------------------------------------------------- */
  .mobile-m0 {
    margin: 0px;
  }
  .mobile-m5 {
    margin: 5px;
  }
  .mobile-m10 {
    margin: 10px;
  }
  .mobile-m15 {
    margin: 15px;
  }
  .mobile-m20 {
    margin: 20px;
  }
  .mobile-m25 {
    margin: 25px;
  }
  .mobile-m30 {
    margin: 30px;
  }
  .mobile-m40 {
    margin: 40px;
  }
  .mobile-m50 {
    margin: 50px;
  }
  .mobile-mt0 {
    margin-top: 0px;
  }
  .mobile-mt5 {
    margin-top: 5px;
  }
  .mobile-mt10 {
    margin-top: 10px;
  }
  .mobile-mt15 {
    margin-top: 15px;
  }
  .mobile-mt20 {
    margin-top: 20px;
  }
  .mobile-mt25 {
    margin-top: 25px;
  }
  .mobile-mt30 {
    margin-top: 30px;
  }
  .mobile-mt40 {
    margin-top: 40px;
  }
  .mobile-mt50 {
    margin-top: 50px;
  }
  .mobile-mr0 {
    margin-right: 0px;
  }
  .mobile-mr5 {
    margin-right: 5px;
  }
  .mobile-mr10 {
    margin-right: 10px;
  }
  .mobile-mr15 {
    margin-right: 15px;
  }
  .mobile-mr20 {
    margin-right: 20px;
  }
  .mobile-mr25 {
    margin-right: 25px;
  }
  .mobile-mr30 {
    margin-right: 30px;
  }
  .mobile-mr40 {
    margin-right: 40px;
  }
  .mobile-mr50 {
    margin-right: 50px;
  }
  .mobile-mb0 {
    margin-bottom: 0px;
  }
  .mobile-mb5 {
    margin-bottom: 5px;
  }
  .mobile-mb10 {
    margin-bottom: 10px;
  }
  .mobile-mb15 {
    margin-bottom: 15px;
  }
  .mobile-mb20 {
    margin-bottom: 20px;
  }
  .mobile-mb25 {
    margin-bottom: 25px;
  }
  .mobile-mb30 {
    margin-bottom: 30px;
  }
  .mobile-mb40 {
    margin-bottom: 40px;
  }
  .mobile-mb50 {
    margin-bottom: 50px;
  }
  .mobile-ml0 {
    margin-left: 0px;
  }
  .mobile-ml5 {
    margin-left: 5px;
  }
  .mobile-ml10 {
    margin-left: 10px;
  }
  .mobile-ml15 {
    margin-left: 15px;
  }
  .mobile-ml20 {
    margin-left: 20px;
  }
  .mobile-ml25 {
    margin-left: 25px;
  }
  .mobile-ml30 {
    margin-left: 30px;
  }
  .mobile-ml40 {
    margin-left: 40px;
  }
  .mobile-ml50 {
    margin-left: 50px;
  }
  .mobile-p0 {
    padding: 0px;
  }
  .mobile-p5 {
    padding: 5px;
  }
  .mobile-p10 {
    padding: 10px;
  }
  .mobile-p15 {
    padding: 15px;
  }
  .mobile-p20 {
    padding: 20px;
  }
  .mobile-p25 {
    padding: 25px;
  }
  .mobile-p30 {
    padding: 30px;
  }
  .mobile-p40 {
    padding: 40px;
  }
  .mobile-p50 {
    padding: 50px;
  }
  .mobile-pt5 {
    padding-top: 5px;
  }
  .mobile-pt0 {
    padding-top: 0px;
  }
  .mobile-pt10 {
    padding-top: 10px;
  }
  .mobile-pt15 {
    padding-top: 15px;
  }
  .mobile-pt20 {
    padding-top: 20px;
  }
  .mobile-pt25 {
    padding-top: 25px;
  }
  .mobile-pt30 {
    padding-top: 30px;
  }
  .mobile-pt40 {
    padding-top: 40px;
  }
  .mobile-pt50 {
    padding-top: 50px;
  }
  .mobile-pt60 {
    padding-top: 60px;
  }
  .mobile-pt70 {
    padding-top: 70px;
  }
  .mobile-pt80 {
    padding-top: 80px;
  }
  .mobile-pt90 {
    padding-top: 90px;
  }
  .mobile-pt100 {
    padding-top: 100px;
  }
  .mobile-pr0 {
    padding-right: 0px;
  }
  .mobile-pr5 {
    padding-right: 5px;
  }
  .mobile-pr10 {
    padding-right: 10px;
  }
  .mobile-pr15 {
    padding-right: 15px;
  }
  .mobile-pr20 {
    padding-right: 20px;
  }
  .mobile-pr25 {
    padding-right: 25px;
  }
  .mobile-pr30 {
    padding-right: 30px;
  }
  .mobile-pr40 {
    padding-right: 40px;
  }
  .mobile-pr50 {
    padding-right: 50px;
  }
  .mobile-pb0 {
    padding-bottom: 0px;
  }
  .mobile-pb5 {
    padding-bottom: 5px;
  }
  .mobile-pb10 {
    padding-bottom: 10px;
  }
  .mobile-pb15 {
    padding-bottom: 15px;
  }
  .mobile-pb20 {
    padding-bottom: 20px;
  }
  .mobile-pb25 {
    padding-bottom: 25px;
  }
  .mobile-pb30 {
    padding-bottom: 30px;
  }
  .mobile-pb40 {
    padding-bottom: 40px;
  }
  .mobile-pb50 {
    padding-bottom: 50px;
  }
  .mobile-pb60 {
    padding-bottom: 60px;
  }
  .mobile-pb70 {
    padding-bottom: 70px;
  }
  .mobile-pb80 {
    padding-bottom: 80px;
  }
  .mobile-pb90 {
    padding-bottom: 90px;
  }
  .mobile-pb100 {
    padding-bottom: 100px;
  }
  .mobile-pl0 {
    padding-left: 0px;
  }
  .mobile-pl5 {
    padding-left: 5px;
  }
  .mobile-pl10 {
    padding-left: 10px;
  }
  .mobile-pl15 {
    padding-left: 15px;
  }
  .mobile-pl20 {
    padding-left: 20px;
  }
  .mobile-pl25 {
    padding-left: 25px;
  }
  .mobile-pl30 {
    padding-left: 30px;
  }
  .mobile-pl40 {
    padding-left: 40px;
  }
  .mobile-pl50 {
    padding-left: 50px;
  }
  /* Sizes
--------------------------------------------------------------------------------------------------------- */
  .mobile-w10 {
    width: 10%;
  }
  .mobile-w20 {
    width: 20%;
  }
  .mobile-w25 {
    width: 25%;
  }
  .mobile-w30 {
    width: 30%;
  }
  .mobile-w33 {
    width: 33.33%;
  }
  .mobile-w40 {
    width: 40%;
  }
  .mobile-w50 {
    width: 50%;
  }
  .mobile-w60 {
    width: 60%;
  }
  .mobile-w70 {
    width: 70%;
  }
  .mobile-w80 {
    width: 80%;
  }
  .mobile-w90 {
    width: 90%;
  }
  .mobile-w100 {
    width: 100%;
  }
  .mobile-wauto {
    width: auto;
  }
  .mobile-mw10 {
    max-width: 10%;
  }
  .mobile-mw20 {
    max-width: 20%;
  }
  .mobile-mw30 {
    max-width: 30%;
  }
  .mobile-mw40 {
    max-width: 40%;
  }
  .mobile-mw50 {
    max-width: 50%;
  }
  .mobile-mw60 {
    max-width: 60%;
  }
  .mobile-mw70 {
    max-width: 70%;
  }
  .mobile-mw80 {
    max-width: 80%;
  }
  .mobile-mw90 {
    max-width: 90%;
  }
  .mobile-mw100 {
    max-width: 100%;
  }
  .mobile-mw100px {
    max-width: 100px;
  }
  .mobile-mw110px {
    max-width: 110px;
  }
  .mobile-mw120px {
    max-width: 120px;
  }
  .mobile-mw130px {
    max-width: 130px;
  }
  .mobile-mw140px {
    max-width: 140px;
  }
  .mobile-mw150px {
    max-width: 150px;
  }
  .mobile-h10 {
    height: 10%;
  }
  .mobile-h20 {
    height: 20%;
  }
  .mobile-h25 {
    height: 25%;
  }
  .mobile-h30 {
    height: 30%;
  }
  .mobile-h40 {
    height: 40%;
  }
  .mobile-h50 {
    height: 50%;
  }
  .mobile-h60 {
    height: 60%;
  }
  .mobile-h70 {
    height: 70%;
  }
  .mobile-h80 {
    height: 80%;
  }
  .mobile-h90 {
    height: 90%;
  }
  .mobile-h100 {
    height: 100%;
  }
  .mobile-vh10 {
    min-height: 10vh;
  }
  .mobile-vh20 {
    min-height: 20vh;
  }
  .mobile-vh25 {
    min-height: 25vh;
  }
  .mobile-vh30 {
    min-height: 30vh;
  }
  .mobile-vh40 {
    min-height: 40vh;
  }
  .mobile-vh48 {
    min-height: 48vh;
  }
  .mobile-vh49 {
    min-height: 49vh;
  }
  .mobile-vh50 {
    min-height: 50vh;
  }
  .mobile-vh60 {
    min-height: 60vh;
  }
  .mobile-vh70 {
    min-height: 70vh;
  }
  .mobile-vh80 {
    min-height: 80vh;
  }
  .mobile-vh90 {
    min-height: 90vh;
  }
  .mobile-vh100 {
    min-height: 100vh;
  }
  .mobile-w10px {
    width: 10px;
  }
  .mobile-w20px {
    width: 20px;
  }
  .mobile-w30px {
    width: 30px;
  }
  .mobile-w40px {
    width: 40px;
  }
  .mobile-w50px {
    width: 50px;
  }
  .mobile-w60px {
    width: 60px;
  }
  .mobile-w70px {
    width: 70px;
  }
  .mobile-w80px {
    width: 80px;
  }
  .mobile-w90px {
    width: 90px;
  }
  .mobile-w100px {
    width: 100px;
  }
  .mobile-w110px {
    width: 110px;
  }
  .mobile-w120px {
    width: 120px;
  }
  .mobile-w130px {
    width: 130px;
  }
  .mobile-w140px {
    width: 140px;
  }
  .mobile-w150px {
    width: 150px;
  }
  .mobile-w160px {
    width: 160px;
  }
  .mobile-w170px {
    width: 170px;
  }
  .mobile-w180px {
    width: 180px;
  }
  .mobile-w190px {
    width: 190px;
  }
  .mobile-w200px {
    width: 200px;
  }
  .mobile-w250px {
    width: 250px;
  }
  .mobile-w300px {
    width: 300px;
  }
  .mobile-w350px {
    width: 350px;
  }
  .mobile-w400px {
    width: 400px;
  }
  .mobile-w450px {
    width: 450px;
  }
  .mobile-w500px {
    width: 500px;
  }
}
@media (min-width: 650px) and (max-width: 990px) {
  /* Basics
--------------------------------------------------------------------------------------------------------- */
  .tablet-pa {
    position: absolute;
  }
  .tablet-pr {
    position: relative;
  }
  .tablet-left {
    float: left;
  }
  .tablet-right {
    float: right;
  }
  .tablet-tac {
    text-align: center;
  }
  .tablet-tal {
    text-align: left;
  }
  .tablet-tar {
    text-align: right;
  }
  .tablet-dpb {
    display: block;
  }
  .tablet-dpib {
    display: inline-block;
    float: none;
  }
  .tablet-dpi {
    display: inline;
  }
  .tablet-dpn {
    display: none;
  }
  /* Font
--------------------------------------------------------------------------------------------------------- */
  .tablet-fs50 {
    font-size: 8px;
    line-height: 9px;
  }
  .tablet-fs60 {
    font-size: 9.6px;
    line-height: 10.8px;
  }
  .tablet-fs70 {
    font-size: 11.2px;
    line-height: 12.6px;
  }
  .tablet-fs80 {
    font-size: 12.8px;
    line-height: 14.4px;
  }
  .tablet-fs90 {
    font-size: 14.4px;
    line-height: 16.2px;
  }
  .tablet-fs100 {
    font-size: 16px;
    line-height: 18px;
  }
  .tablet-fs110 {
    font-size: 17.6px;
    line-height: 19.8px;
  }
  .tablet-fs120 {
    font-size: 19.2px;
    line-height: 21.6px;
  }
  .tablet-fs130 {
    font-size: 20.8px;
    line-height: 23.4px;
  }
  .tablet-fs140 {
    font-size: 22.4px;
    line-height: 25.2px;
  }
  .tablet-fs150 {
    font-size: 24px;
    line-height: 27px;
  }
  .tablet-fs160 {
    font-size: 25.6px;
    line-height: 28.8px;
  }
  .tablet-fs170 {
    font-size: 27.2px;
    line-height: 30.6px;
  }
  .tablet-fs180 {
    font-size: 28.8px;
    line-height: 32.4px;
  }
  .tablet-fs190 {
    font-size: 30.4px;
    line-height: 34.2px;
  }
  .tablet-fs200 {
    font-size: 32px;
    line-height: 36px;
  }
  /* Positioning
--------------------------------------------------------------------------------------------------------- */
  .tablet-t0 {
    top: 0;
  }
  .tablet-t5 {
    top: 5px;
  }
  .tablet-t10 {
    top: 10px;
  }
  .tablet-t15 {
    top: 15px;
  }
  .tablet-t20 {
    top: 20px;
  }
  .tablet-r0 {
    right: 0;
  }
  .tablet-r5 {
    right: 5px;
  }
  .tablet-r10 {
    right: 10px;
  }
  .tablet-r15 {
    right: 15px;
  }
  .tablet-r20 {
    right: 20px;
  }
  .tablet-b0 {
    bottom: 0;
  }
  .tablet-b5 {
    bottom: 5px;
  }
  .tablet-b10 {
    bottom: 10px;
  }
  .tablet-b15 {
    bottom: 15px;
  }
  .tablet-b20 {
    bottom: 20px;
  }
  .tablet-l0 {
    left: 0;
  }
  .tablet-l5 {
    left: 5px;
  }
  .tablet-l10 {
    left: 10px;
  }
  .tablet-l15 {
    left: 15px;
  }
  .tablet-l20 {
    left: 20px;
  }
  /* Spacing
--------------------------------------------------------------------------------------------------------- */
  .tablet-m0 {
    margin: 0px;
  }
  .tablet-m5 {
    margin: 5px;
  }
  .tablet-m10 {
    margin: 10px;
  }
  .tablet-m15 {
    margin: 15px;
  }
  .tablet-m20 {
    margin: 20px;
  }
  .tablet-m25 {
    margin: 25px;
  }
  .tablet-m30 {
    margin: 30px;
  }
  .tablet-m40 {
    margin: 40px;
  }
  .tablet-m50 {
    margin: 50px;
  }
  .tablet-mt0 {
    margin-top: 0px;
  }
  .tablet-mt5 {
    margin-top: 5px;
  }
  .tablet-mt10 {
    margin-top: 10px;
  }
  .tablet-mt15 {
    margin-top: 15px;
  }
  .tablet-mt20 {
    margin-top: 20px;
  }
  .tablet-mt25 {
    margin-top: 25px;
  }
  .tablet-mt30 {
    margin-top: 30px;
  }
  .tablet-mt40 {
    margin-top: 40px;
  }
  .tablet-mt50 {
    margin-top: 50px;
  }
  .tablet-mr0 {
    margin-right: 0px;
  }
  .tablet-mr5 {
    margin-right: 5px;
  }
  .tablet-mr10 {
    margin-right: 10px;
  }
  .tablet-mr15 {
    margin-right: 15px;
  }
  .tablet-mr20 {
    margin-right: 20px;
  }
  .tablet-mr25 {
    margin-right: 25px;
  }
  .tablet-mr30 {
    margin-right: 30px;
  }
  .tablet-mr40 {
    margin-right: 40px;
  }
  .tablet-mr50 {
    margin-right: 50px;
  }
  .tablet-mb0 {
    margin-bottom: 0px;
  }
  .tablet-mb5 {
    margin-bottom: 5px;
  }
  .tablet-mb10 {
    margin-bottom: 10px;
  }
  .tablet-mb15 {
    margin-bottom: 15px;
  }
  .tablet-mb20 {
    margin-bottom: 20px;
  }
  .tablet-mb25 {
    margin-bottom: 25px;
  }
  .tablet-mb30 {
    margin-bottom: 30px;
  }
  .tablet-mb40 {
    margin-bottom: 40px;
  }
  .tablet-mb50 {
    margin-bottom: 50px;
  }
  .tablet-ml0 {
    margin-left: 0px;
  }
  .tablet-ml5 {
    margin-left: 5px;
  }
  .tablet-ml10 {
    margin-left: 10px;
  }
  .tablet-ml15 {
    margin-left: 15px;
  }
  .tablet-ml20 {
    margin-left: 20px;
  }
  .tablet-ml25 {
    margin-left: 25px;
  }
  .tablet-ml30 {
    margin-left: 30px;
  }
  .tablet-ml40 {
    margin-left: 40px;
  }
  .tablet-ml50 {
    margin-left: 50px;
  }
  .tablet-p0 {
    padding: 0px;
  }
  .tablet-p5 {
    padding: 5px;
  }
  .tablet-p10 {
    padding: 10px;
  }
  .tablet-p15 {
    padding: 15px;
  }
  .tablet-p20 {
    padding: 20px;
  }
  .tablet-p25 {
    padding: 25px;
  }
  .tablet-p30 {
    padding: 30px;
  }
  .tablet-p40 {
    padding: 40px;
  }
  .tablet-p50 {
    padding: 50px;
  }
  .tablet-pt5 {
    padding-top: 5px;
  }
  .tablet-pt0 {
    padding-top: 0px;
  }
  .tablet-pt10 {
    padding-top: 10px;
  }
  .tablet-pt15 {
    padding-top: 15px;
  }
  .tablet-pt20 {
    padding-top: 20px;
  }
  .tablet-pt25 {
    padding-top: 25px;
  }
  .tablet-pt30 {
    padding-top: 30px;
  }
  .tablet-pt40 {
    padding-top: 40px;
  }
  .tablet-pt50 {
    padding-top: 50px;
  }
  .tablet-pt60 {
    padding-top: 60px;
  }
  .tablet-pt70 {
    padding-top: 70px;
  }
  .tablet-pt80 {
    padding-top: 80px;
  }
  .tablet-pt90 {
    padding-top: 90px;
  }
  .tablet-pt100 {
    padding-top: 100px;
  }
  .tablet-pr0 {
    padding-right: 0px;
  }
  .tablet-pr5 {
    padding-right: 5px;
  }
  .tablet-pr10 {
    padding-right: 10px;
  }
  .tablet-pr15 {
    padding-right: 15px;
  }
  .tablet-pr20 {
    padding-right: 20px;
  }
  .tablet-pr25 {
    padding-right: 25px;
  }
  .tablet-pr30 {
    padding-right: 30px;
  }
  .tablet-pr40 {
    padding-right: 40px;
  }
  .tablet-pr50 {
    padding-right: 50px;
  }
  .tablet-pb0 {
    padding-bottom: 0px;
  }
  .tablet-pb5 {
    padding-bottom: 5px;
  }
  .tablet-pb10 {
    padding-bottom: 10px;
  }
  .tablet-pb15 {
    padding-bottom: 15px;
  }
  .tablet-pb20 {
    padding-bottom: 20px;
  }
  .tablet-pb25 {
    padding-bottom: 25px;
  }
  .tablet-pb30 {
    padding-bottom: 30px;
  }
  .tablet-pb40 {
    padding-bottom: 40px;
  }
  .tablet-pb50 {
    padding-bottom: 50px;
  }
  .tablet-pb60 {
    padding-bottom: 60px;
  }
  .tablet-pb70 {
    padding-bottom: 70px;
  }
  .tablet-pb80 {
    padding-bottom: 80px;
  }
  .tablet-pb90 {
    padding-bottom: 90px;
  }
  .tablet-pb100 {
    padding-bottom: 100px;
  }
  .tablet-pl0 {
    padding-left: 0px;
  }
  .tablet-pl5 {
    padding-left: 5px;
  }
  .tablet-pl10 {
    padding-left: 10px;
  }
  .tablet-pl15 {
    padding-left: 15px;
  }
  .tablet-pl20 {
    padding-left: 20px;
  }
  .tablet-pl25 {
    padding-left: 25px;
  }
  .tablet-pl30 {
    padding-left: 30px;
  }
  .tablet-pl40 {
    padding-left: 40px;
  }
  .tablet-pl50 {
    padding-left: 50px;
  }
  /* Sizes
--------------------------------------------------------------------------------------------------------- */
  .tablet-w10 {
    width: 10%;
  }
  .tablet-w20 {
    width: 20%;
  }
  .tablet-w25 {
    width: 25%;
  }
  .tablet-w30 {
    width: 30%;
  }
  .tablet-w33 {
    width: 33.33%;
  }
  .tablet-w40 {
    width: 40%;
  }
  .tablet-w50 {
    width: 50%;
  }
  .tablet-w60 {
    width: 60%;
  }
  .tablet-w70 {
    width: 70%;
  }
  .tablet-w80 {
    width: 80%;
  }
  .tablet-w90 {
    width: 90%;
  }
  .tablet-w100 {
    width: 100%;
  }
  .tablet-wauto {
    width: auto;
  }
  .tablet-mw10 {
    max-width: 10%;
  }
  .tablet-mw20 {
    max-width: 20%;
  }
  .tablet-mw30 {
    max-width: 30%;
  }
  .tablet-mw40 {
    max-width: 40%;
  }
  .tablet-mw50 {
    max-width: 50%;
  }
  .tablet-mw60 {
    max-width: 60%;
  }
  .tablet-mw70 {
    max-width: 70%;
  }
  .tablet-mw80 {
    max-width: 80%;
  }
  .tablet-mw90 {
    max-width: 90%;
  }
  .tablet-mw100 {
    max-width: 100%;
  }
  .tablet-mw100px {
    max-width: 100px;
  }
  .tablet-mw110px {
    max-width: 110px;
  }
  .tablet-mw120px {
    max-width: 120px;
  }
  .tablet-mw130px {
    max-width: 130px;
  }
  .tablet-mw140px {
    max-width: 140px;
  }
  .tablet-mw150px {
    max-width: 150px;
  }
  .tablet-h10 {
    height: 10%;
  }
  .tablet-h20 {
    height: 20%;
  }
  .tablet-h25 {
    height: 25%;
  }
  .tablet-h30 {
    height: 30%;
  }
  .tablet-h40 {
    height: 40%;
  }
  .tablet-h50 {
    height: 50%;
  }
  .tablet-h60 {
    height: 60%;
  }
  .tablet-h70 {
    height: 70%;
  }
  .tablet-h80 {
    height: 80%;
  }
  .tablet-h90 {
    height: 90%;
  }
  .tablet-h100 {
    height: 100%;
  }
  .tablet-vh10 {
    min-height: 10vh;
  }
  .tablet-vh20 {
    min-height: 20vh;
  }
  .tablet-vh25 {
    min-height: 25vh;
  }
  .tablet-vh30 {
    min-height: 30vh;
  }
  .tablet-vh40 {
    min-height: 40vh;
  }
  .tablet-vh48 {
    min-height: 48vh;
  }
  .tablet-vh49 {
    min-height: 49vh;
  }
  .tablet-vh50 {
    min-height: 50vh;
  }
  .tablet-vh60 {
    min-height: 60vh;
  }
  .tablet-vh70 {
    min-height: 70vh;
  }
  .tablet-vh80 {
    min-height: 80vh;
  }
  .tablet-vh90 {
    min-height: 90vh;
  }
  .tablet-vh100 {
    min-height: 100vh;
  }
  .tablet-w10px {
    width: 10px;
  }
  .tablet-w20px {
    width: 20px;
  }
  .tablet-w30px {
    width: 30px;
  }
  .tablet-w40px {
    width: 40px;
  }
  .tablet-w50px {
    width: 50px;
  }
  .tablet-w60px {
    width: 60px;
  }
  .tablet-w70px {
    width: 70px;
  }
  .tablet-w80px {
    width: 80px;
  }
  .tablet-w90px {
    width: 90px;
  }
  .tablet-w100px {
    width: 100px;
  }
  .tablet-w110px {
    width: 110px;
  }
  .tablet-w120px {
    width: 120px;
  }
  .tablet-w130px {
    width: 130px;
  }
  .tablet-w140px {
    width: 140px;
  }
  .tablet-w150px {
    width: 150px;
  }
  .tablet-w160px {
    width: 160px;
  }
  .tablet-w170px {
    width: 170px;
  }
  .tablet-w180px {
    width: 180px;
  }
  .tablet-w190px {
    width: 190px;
  }
  .tablet-w200px {
    width: 200px;
  }
  .tablet-w250px {
    width: 250px;
  }
  .tablet-w300px {
    width: 300px;
  }
  .tablet-w350px {
    width: 350px;
  }
  .tablet-w400px {
    width: 400px;
  }
  .tablet-w450px {
    width: 450px;
  }
  .tablet-w500px {
    width: 500px;
  }
}
@media (min-width: 990px) {
  /* Basics
--------------------------------------------------------------------------------------------------------- */
  .desktop-pa {
    position: absolute;
  }
  .desktop-pr {
    position: relative;
  }
  .desktop-left {
    float: left;
  }
  .desktop-right {
    float: right;
  }
  .desktop-tac {
    text-align: center;
  }
  .desktop-tal {
    text-align: left;
  }
  .desktop-tar {
    text-align: right;
  }
  .desktop-dpb {
    display: block;
  }
  .desktop-dpib {
    display: inline-block;
    float: none;
  }
  .desktop-dpi {
    display: inline;
  }
  .desktop-dpn {
    display: none;
  }
  /* Font
--------------------------------------------------------------------------------------------------------- */
  .desktop-fs50 {
    font-size: 8px;
    line-height: 9px;
  }
  .desktop-fs60 {
    font-size: 9.6px;
    line-height: 10.8px;
  }
  .desktop-fs70 {
    font-size: 11.2px;
    line-height: 12.6px;
  }
  .desktop-fs80 {
    font-size: 12.8px;
    line-height: 14.4px;
  }
  .desktop-fs90 {
    font-size: 14.4px;
    line-height: 16.2px;
  }
  .desktop-fs100 {
    font-size: 16px;
    line-height: 18px;
  }
  .desktop-fs110 {
    font-size: 17.6px;
    line-height: 19.8px;
  }
  .desktop-fs120 {
    font-size: 19.2px;
    line-height: 21.6px;
  }
  .desktop-fs130 {
    font-size: 20.8px;
    line-height: 23.4px;
  }
  .desktop-fs140 {
    font-size: 22.4px;
    line-height: 25.2px;
  }
  .desktop-fs150 {
    font-size: 24px;
    line-height: 27px;
  }
  .desktop-fs160 {
    font-size: 25.6px;
    line-height: 28.8px;
  }
  .desktop-fs170 {
    font-size: 27.2px;
    line-height: 30.6px;
  }
  .desktop-fs180 {
    font-size: 28.8px;
    line-height: 32.4px;
  }
  .desktop-fs190 {
    font-size: 30.4px;
    line-height: 34.2px;
  }
  .desktop-fs200 {
    font-size: 32px;
    line-height: 36px;
  }
  /* Positioning
--------------------------------------------------------------------------------------------------------- */
  .desktop-t0 {
    top: 0;
  }
  .desktop-t5 {
    top: 5px;
  }
  .desktop-t10 {
    top: 10px;
  }
  .desktop-t15 {
    top: 15px;
  }
  .desktop-t20 {
    top: 20px;
  }
  .desktop-r0 {
    right: 0;
  }
  .desktop-r5 {
    right: 5px;
  }
  .desktop-r10 {
    right: 10px;
  }
  .desktop-r15 {
    right: 15px;
  }
  .desktop-r20 {
    right: 20px;
  }
  .desktop-b0 {
    bottom: 0;
  }
  .desktop-b5 {
    bottom: 5px;
  }
  .desktop-b10 {
    bottom: 10px;
  }
  .desktop-b15 {
    bottom: 15px;
  }
  .desktop-b20 {
    bottom: 20px;
  }
  .desktop-l0 {
    left: 0;
  }
  .desktop-l5 {
    left: 5px;
  }
  .desktop-l10 {
    left: 10px;
  }
  .desktop-l15 {
    left: 15px;
  }
  .desktop-l20 {
    left: 20px;
  }
  /* Spacing
--------------------------------------------------------------------------------------------------------- */
  .desktop-m0 {
    margin: 0px;
  }
  .desktop-m5 {
    margin: 5px;
  }
  .desktop-m10 {
    margin: 10px;
  }
  .desktop-m15 {
    margin: 15px;
  }
  .desktop-m20 {
    margin: 20px;
  }
  .desktop-m25 {
    margin: 25px;
  }
  .desktop-m30 {
    margin: 30px;
  }
  .desktop-m40 {
    margin: 40px;
  }
  .desktop-m50 {
    margin: 50px;
  }
  .desktop-mt0 {
    margin-top: 0px;
  }
  .desktop-mt5 {
    margin-top: 5px;
  }
  .desktop-mt10 {
    margin-top: 10px;
  }
  .desktop-mt15 {
    margin-top: 15px;
  }
  .desktop-mt20 {
    margin-top: 20px;
  }
  .desktop-mt25 {
    margin-top: 25px;
  }
  .desktop-mt30 {
    margin-top: 30px;
  }
  .desktop-mt40 {
    margin-top: 40px;
  }
  .desktop-mt50 {
    margin-top: 50px;
  }
  .desktop-mr0 {
    margin-right: 0px;
  }
  .desktop-mr5 {
    margin-right: 5px;
  }
  .desktop-mr10 {
    margin-right: 10px;
  }
  .desktop-mr15 {
    margin-right: 15px;
  }
  .desktop-mr20 {
    margin-right: 20px;
  }
  .desktop-mr25 {
    margin-right: 25px;
  }
  .desktop-mr30 {
    margin-right: 30px;
  }
  .desktop-mr40 {
    margin-right: 40px;
  }
  .desktop-mr50 {
    margin-right: 50px;
  }
  .desktop-mb0 {
    margin-bottom: 0px;
  }
  .desktop-mb5 {
    margin-bottom: 5px;
  }
  .desktop-mb10 {
    margin-bottom: 10px;
  }
  .desktop-mb15 {
    margin-bottom: 15px;
  }
  .desktop-mb20 {
    margin-bottom: 20px;
  }
  .desktop-mb25 {
    margin-bottom: 25px;
  }
  .desktop-mb30 {
    margin-bottom: 30px;
  }
  .desktop-mb40 {
    margin-bottom: 40px;
  }
  .desktop-mb50 {
    margin-bottom: 50px;
  }
  .desktop-ml0 {
    margin-left: 0px;
  }
  .desktop-ml5 {
    margin-left: 5px;
  }
  .desktop-ml10 {
    margin-left: 10px;
  }
  .desktop-ml15 {
    margin-left: 15px;
  }
  .desktop-ml20 {
    margin-left: 20px;
  }
  .desktop-ml25 {
    margin-left: 25px;
  }
  .desktop-ml30 {
    margin-left: 30px;
  }
  .desktop-ml40 {
    margin-left: 40px;
  }
  .desktop-ml50 {
    margin-left: 50px;
  }
  .desktop-p0 {
    padding: 0px;
  }
  .desktop-p5 {
    padding: 5px;
  }
  .desktop-p10 {
    padding: 10px;
  }
  .desktop-p15 {
    padding: 15px;
  }
  .desktop-p20 {
    padding: 20px;
  }
  .desktop-p25 {
    padding: 25px;
  }
  .desktop-p30 {
    padding: 30px;
  }
  .desktop-p40 {
    padding: 40px;
  }
  .desktop-p50 {
    padding: 50px;
  }
  .desktop-pt5 {
    padding-top: 5px;
  }
  .desktop-pt0 {
    padding-top: 0px;
  }
  .desktop-pt10 {
    padding-top: 10px;
  }
  .desktop-pt15 {
    padding-top: 15px;
  }
  .desktop-pt20 {
    padding-top: 20px;
  }
  .desktop-pt25 {
    padding-top: 25px;
  }
  .desktop-pt30 {
    padding-top: 30px;
  }
  .desktop-pt40 {
    padding-top: 40px;
  }
  .desktop-pt50 {
    padding-top: 50px;
  }
  .desktop-pt60 {
    padding-top: 60px;
  }
  .desktop-pt70 {
    padding-top: 70px;
  }
  .desktop-pt80 {
    padding-top: 80px;
  }
  .desktop-pt90 {
    padding-top: 90px;
  }
  .desktop-pt100 {
    padding-top: 100px;
  }
  .desktop-pr0 {
    padding-right: 0px;
  }
  .desktop-pr5 {
    padding-right: 5px;
  }
  .desktop-pr10 {
    padding-right: 10px;
  }
  .desktop-pr15 {
    padding-right: 15px;
  }
  .desktop-pr20 {
    padding-right: 20px;
  }
  .desktop-pr25 {
    padding-right: 25px;
  }
  .desktop-pr30 {
    padding-right: 30px;
  }
  .desktop-pr40 {
    padding-right: 40px;
  }
  .desktop-pr50 {
    padding-right: 50px;
  }
  .desktop-pb0 {
    padding-bottom: 0px;
  }
  .desktop-pb5 {
    padding-bottom: 5px;
  }
  .desktop-pb10 {
    padding-bottom: 10px;
  }
  .desktop-pb15 {
    padding-bottom: 15px;
  }
  .desktop-pb20 {
    padding-bottom: 20px;
  }
  .desktop-pb25 {
    padding-bottom: 25px;
  }
  .desktop-pb30 {
    padding-bottom: 30px;
  }
  .desktop-pb40 {
    padding-bottom: 40px;
  }
  .desktop-pb50 {
    padding-bottom: 50px;
  }
  .desktop-pb60 {
    padding-bottom: 60px;
  }
  .desktop-pb70 {
    padding-bottom: 70px;
  }
  .desktop-pb80 {
    padding-bottom: 80px;
  }
  .desktop-pb90 {
    padding-bottom: 90px;
  }
  .desktop-pb100 {
    padding-bottom: 100px;
  }
  .desktop-pl0 {
    padding-left: 0px;
  }
  .desktop-pl5 {
    padding-left: 5px;
  }
  .desktop-pl10 {
    padding-left: 10px;
  }
  .desktop-pl15 {
    padding-left: 15px;
  }
  .desktop-pl20 {
    padding-left: 20px;
  }
  .desktop-pl25 {
    padding-left: 25px;
  }
  .desktop-pl30 {
    padding-left: 30px;
  }
  .desktop-pl40 {
    padding-left: 40px;
  }
  .desktop-pl50 {
    padding-left: 50px;
  }
  /* Sizes
--------------------------------------------------------------------------------------------------------- */
  .desktop-w10 {
    width: 10%;
  }
  .desktop-w20 {
    width: 20%;
  }
  .desktop-w25 {
    width: 25%;
  }
  .desktop-w30 {
    width: 30%;
  }
  .desktop-w33 {
    width: 33.33%;
  }
  .desktop-w40 {
    width: 40%;
  }
  .desktop-w50 {
    width: 50%;
  }
  .desktop-w60 {
    width: 60%;
  }
  .desktop-w70 {
    width: 70%;
  }
  .desktop-w80 {
    width: 80%;
  }
  .desktop-w90 {
    width: 90%;
  }
  .desktop-w100 {
    width: 100%;
  }
  .desktop-wauto {
    width: auto;
  }
  .desktop-mw10 {
    max-width: 10%;
  }
  .desktop-mw20 {
    max-width: 20%;
  }
  .desktop-mw30 {
    max-width: 30%;
  }
  .desktop-mw40 {
    max-width: 40%;
  }
  .desktop-mw50 {
    max-width: 50%;
  }
  .desktop-mw60 {
    max-width: 60%;
  }
  .desktop-mw70 {
    max-width: 70%;
  }
  .desktop-mw80 {
    max-width: 80%;
  }
  .desktop-mw90 {
    max-width: 90%;
  }
  .desktop-mw100 {
    max-width: 100%;
  }
  .desktop-mw100px {
    max-width: 100px;
  }
  .desktop-mw110px {
    max-width: 110px;
  }
  .desktop-mw120px {
    max-width: 120px;
  }
  .desktop-mw130px {
    max-width: 130px;
  }
  .desktop-mw140px {
    max-width: 140px;
  }
  .desktop-mw150px {
    max-width: 150px;
  }
  .desktop-h10 {
    height: 10%;
  }
  .desktop-h20 {
    height: 20%;
  }
  .desktop-h25 {
    height: 25%;
  }
  .desktop-h30 {
    height: 30%;
  }
  .desktop-h40 {
    height: 40%;
  }
  .desktop-h50 {
    height: 50%;
  }
  .desktop-h60 {
    height: 60%;
  }
  .desktop-h70 {
    height: 70%;
  }
  .desktop-h80 {
    height: 80%;
  }
  .desktop-h90 {
    height: 90%;
  }
  .desktop-h100 {
    height: 100%;
  }
  .desktop-vh10 {
    min-height: 10vh;
  }
  .desktop-vh20 {
    min-height: 20vh;
  }
  .desktop-vh25 {
    min-height: 25vh;
  }
  .desktop-vh30 {
    min-height: 30vh;
  }
  .desktop-vh40 {
    min-height: 40vh;
  }
  .desktop-vh48 {
    min-height: 48vh;
  }
  .desktop-vh49 {
    min-height: 49vh;
  }
  .desktop-vh50 {
    min-height: 50vh;
  }
  .desktop-vh60 {
    min-height: 60vh;
  }
  .desktop-vh70 {
    min-height: 70vh;
  }
  .desktop-vh80 {
    min-height: 80vh;
  }
  .desktop-vh90 {
    min-height: 90vh;
  }
  .desktop-vh100 {
    min-height: 100vh;
  }
  .desktop-w10px {
    width: 10px;
  }
  .desktop-w20px {
    width: 20px;
  }
  .desktop-w30px {
    width: 30px;
  }
  .desktop-w40px {
    width: 40px;
  }
  .desktop-w50px {
    width: 50px;
  }
  .desktop-w60px {
    width: 60px;
  }
  .desktop-w70px {
    width: 70px;
  }
  .desktop-w80px {
    width: 80px;
  }
  .desktop-w90px {
    width: 90px;
  }
  .desktop-w100px {
    width: 100px;
  }
  .desktop-w110px {
    width: 110px;
  }
  .desktop-w120px {
    width: 120px;
  }
  .desktop-w130px {
    width: 130px;
  }
  .desktop-w140px {
    width: 140px;
  }
  .desktop-w150px {
    width: 150px;
  }
  .desktop-w160px {
    width: 160px;
  }
  .desktop-w170px {
    width: 170px;
  }
  .desktop-w180px {
    width: 180px;
  }
  .desktop-w190px {
    width: 190px;
  }
  .desktop-w200px {
    width: 200px;
  }
  .desktop-w250px {
    width: 250px;
  }
  .desktop-w300px {
    width: 300px;
  }
  .desktop-w350px {
    width: 350px;
  }
  .desktop-w400px {
    width: 400px;
  }
  .desktop-w450px {
    width: 450px;
  }
  .desktop-w500px {
    width: 500px;
  }
}
/* 960 Grid LESS
--------------------------------------------------------------------------------------------------------- */
.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: relative;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}
.row .row {
  margin-left: -10px;
  margin-right: -10px;
  max-width: none;
}
.col-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(8.333333333333334% - 10px * 2);
}
.col-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(16.666666666666668% - 10px * 2);
}
.col-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(25% - 10px * 2);
}
.col-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(33.333333333333336% - 10px * 2);
}
.col-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(41.66666666666667% - 10px * 2);
}
.col-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(50% - 10px * 2);
}
.col-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(58.333333333333336% - 10px * 2);
}
.col-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(66.66666666666667% - 10px * 2);
}
.col-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(75% - 10px * 2);
}
.col-10 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(83.33333333333334% - 10px * 2);
}
.col-11 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(91.66666666666667% - 10px * 2);
}
.col-12 {
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  width: calc(100% - 10px * 2);
}
@media (min-width: 0) and (max-width: 650px) {
  .mobile-col-1 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(8.333333333333334% - 10px * 2);
  }
  .mobile-col-2 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(16.666666666666668% - 10px * 2);
  }
  .mobile-col-3 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(25% - 10px * 2);
  }
  .mobile-col-4 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(33.333333333333336% - 10px * 2);
  }
  .mobile-col-5 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(41.66666666666667% - 10px * 2);
  }
  .mobile-col-6 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(50% - 10px * 2);
  }
  .mobile-col-7 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(58.333333333333336% - 10px * 2);
  }
  .mobile-col-8 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(66.66666666666667% - 10px * 2);
  }
  .mobile-col-9 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(75% - 10px * 2);
  }
  .mobile-col-10 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(83.33333333333334% - 10px * 2);
  }
  .mobile-col-11 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(91.66666666666667% - 10px * 2);
  }
  .mobile-col-12 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(100% - 10px * 2);
  }
}
@media (min-width: 650px) and (max-width: 990px) {
  .tablet-col-1 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(8.333333333333334% - 10px * 2);
  }
  .tablet-col-2 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(16.666666666666668% - 10px * 2);
  }
  .tablet-col-3 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(25% - 10px * 2);
  }
  .tablet-col-4 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(33.333333333333336% - 10px * 2);
  }
  .tablet-col-5 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(41.66666666666667% - 10px * 2);
  }
  .tablet-col-6 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(50% - 10px * 2);
  }
  .tablet-col-7 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(58.333333333333336% - 10px * 2);
  }
  .tablet-col-8 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(66.66666666666667% - 10px * 2);
  }
  .tablet-col-9 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(75% - 10px * 2);
  }
  .tablet-col-10 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(83.33333333333334% - 10px * 2);
  }
  .tablet-col-11 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(91.66666666666667% - 10px * 2);
  }
  .tablet-col-12 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(100% - 10px * 2);
  }
}
@media (min-width: 990px) {
  .desktop-col-1 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(8.333333333333334% - 10px * 2);
  }
  .desktop-col-2 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(16.666666666666668% - 10px * 2);
  }
  .desktop-col-3 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(25% - 10px * 2);
  }
  .desktop-col-4 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(33.333333333333336% - 10px * 2);
  }
  .desktop-col-5 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(41.66666666666667% - 10px * 2);
  }
  .desktop-col-6 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(50% - 10px * 2);
  }
  .desktop-col-7 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(58.333333333333336% - 10px * 2);
  }
  .desktop-col-8 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(66.66666666666667% - 10px * 2);
  }
  .desktop-col-9 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(75% - 10px * 2);
  }
  .desktop-col-10 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(83.33333333333334% - 10px * 2);
  }
  .desktop-col-11 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(91.66666666666667% - 10px * 2);
  }
  .desktop-col-12 {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
    width: calc(100% - 10px * 2);
  }
}
